<launch>

  <node pkg="pr2_overhead_grasping" type="random_forest" name="$(anon random_forest)" output="screen">
    <param name="bag_path" value="$(find pr2_overhead_grasping)/bags/"/>
    <rosparam param="bag_names">
       [coll_data_11110.bag,
        coll_data_11210.bag,
        coll_data_11310.bag,
        coll_data_11410.bag]
    </rosparam>
    <rosparam param="bag_labels">
       [0,
        1,
        2,
        3]
    </rosparam>
    <param name="num_trees" value="100"/>
    <param name="training_mode" value="true"/>
    <param name="is_validation" value="false"/>
    <param name="forest_bag_name" value="collision_forest_wrist.bag"/>
  </node>                 
</launch>
