<launch>
    <include file="$(find gt_pr2)/machine.launch"/>
    <node name="laser_user_interface" pkg='laser_interface' type='user_interface_node.py' args='params.xml' output='screen'/>
    <node name="laser_pointer_detector" pkg="laser_interface" type="laser_pointer_detector_node.py" machine="c1"
                output="screen" 
                args="-c wide_stereo -k wide_stereo -f /u/haidai/svn/gt-ros-pkg/hrl/laser_interface/PatchClassifier.dataset.pickle">
        <rosparam file="$(find laser_interface)/office.yaml"/>
        <rosparam file="$(find laser_interface)/detector.yaml"/>
    </node>
    <!-- args="-c wide_stereo -k wide_stereo -f $(find laser_interface)/PatchClassifier.dataset.pickle"> -->
    <node name="$(anon dynam_load)" pkg="hrl_lib" type="load_dynamic_config" args="/wide_stereo_both $(find laser_interface)/office_exposure.yaml"/>
</launch>
