<launch>

   <include file="$(find pr2_grasp_behaviors)/launch/simple_grasp_pipeline.launch"/>

   <!-- RIGHT ARM -->

  <node pkg="pr2_collision_monitor" type="joint_coll_detect" name="r_joint_coll_detect" output="screen" >
    <param name="arm" type="str" value="r"/>
    <param name="training_mode" type="bool" value="false"/>
    <param name="significance_mode" type="bool" value="true"/>
    <param name="filename_prefix" type="str" value="$(find pr2_grasp_behaviors)/data/"/>
    <rosparam param="filename_list">
        [overhead_grasping_r_data.bag]
    </rosparam>

  </node>                 

  <node pkg="pr2_collision_monitor" name="r_arm_moving_server" type="arm_moving_server" output="screen">
    <param name="arm" type="str" value="r"/>
  </node>

  <node pkg="pr2_grasp_behaviors" name="r_overhead_grasp_behavior" type="overhead_grasp_behavior.py" args="r server" output="screen"/>

   <!-- LEFT ARM -->

  <node pkg="pr2_collision_monitor" type="joint_coll_detect" name="l_joint_coll_detect" output="screen" >
    <param name="arm" type="str" value="l"/>
    <param name="training_mode" type="bool" value="false"/>
    <param name="significance_mode" type="bool" value="true"/>
    <param name="filename_prefix" type="str" value="$(find pr2_grasp_behaviors)/data/"/>
    <rosparam param="filename_list">
        [overhead_grasping_l_data.bag]
    </rosparam>

  </node>                 

  <node pkg="pr2_collision_monitor" name="l_arm_moving_server" type="arm_moving_server" output="screen">
    <param name="arm" type="str" value="l"/>
  </node>

  <node pkg="pr2_grasp_behaviors" name="l_overhead_grasp_behavior" type="overhead_grasp_behavior.py" args="l server" output="screen"/>

</launch>
