<launch>
   <include file="$(find pr2_grasp_behaviors)/launch/simple_grasp_pipeline.launch"/>
    <!--<node pkg="pr2_grasp_behaviors" name="overhead_grasping" type="overhead_grasping.py" args="-s" output="screen"/>-->

  <node pkg="pr2_collision_monitor" type="joint_coll_detect" name="l_joint_coll_detect" output="screen" >
    <param name="arm" type="str" value="l"/>

    <!-- RIGHT -->
    <!--<rosparam param="min_errors"> [-0.028, -0.04, -0.04, -0.06, -0.1, -0.02, -0.025] </rosparam>-->
    <!--<rosparam param="max_errors"> [0.03, 0.05, 0.06, 0.06, 0.08, 0.02, 0.025] </rosparam>-->
    <!--<rosparam param="min_errors"> [-0.060, -0.06, -0.06, -0.08, -0.1, -0.04, -0.050] </rosparam>-->
    <!--<rosparam param="max_errors"> [0.06, 0.06, 0.08, 0.08, 0.10, 0.04, 0.050] </rosparam>-->

    <!-- LEFT -->
    <rosparam param="min_errors"> [-0.06, -0.06, -0.08, -0.08, -0.10, -0.04, -0.05] </rosparam>
    <rosparam param="max_errors"> [0.06, 0.06, 0.06, 0.08, 0.10, 0.04, 0.05] </rosparam>

  </node>                 

</launch>
