<!--
Launch this on mecanum2 to start node for torso hokuyo
-->

<launch>
    <node pkg="hokuyo_node" type="hokuyo_node" name="utm0" output="screen" respawn="true">
        <remap from="scan" to="utm0_scan"/>
        <param name="port" value="/dev/robot/hokuyo_H0803405"/>
        <param name="max_ang_degrees" value="90"/>
        <param name="min_ang_degrees" value="-90"/>
        <param name="frameid" value="frameid_utm0"/>
    </node>

    <node name="static_tf_utm0_broadcaster" pkg="tf" type="static_transform_sender"
        args="0.25 0 0.5 0 0 0 frameid_utm0 base_link 1000"
        respawn="false" output="screen"/>

</launch>


