<launch>
    <node pkg="force_torque" type="force_torque_relay" args="--name=ft1"/>
    <node pkg="force_torque" type="force_torque_poller" args="--name=ft1 --path=/dev/robot/fingerFT1"/>

    <node pkg="force_torque" type="force_torque_relay" args="--name=ft2"/>
    <node pkg="force_torque" type="force_torque_poller" args="--name=ft2 --path=/dev/robot/fingerFT2"/>
</launch>
