<?xml version="1.0"?>
<launch>
    <arg name="fps_limit" default="30"/>

    <!--node pkg="hrl_thermal_camera" type="test_converter" name="image_converter" output="screen"/-->

    <!--node ns="thermal_camera_driver" pkg="image_proc" type="image_proc" name="thermal_camera_image_proc" output="screen">
    </node-->

    <node name="thermal_camera" pkg="hrl_thermal_camera" type="hrl_thermal_camera" output="screen" launch-prefix="taskset -c 0"
	respawn = "true">
      <rosparam command="load" file="$(find hrl_thermal_camera)/params/thermal_camera_params.yml"/>
      <param name="framerate" value="$(arg fps_limit)"/>
    </node>




</launch>
