<launch>
    <node pkg="image_transport" name="left_cam_republish_wide"  type="republish" args="theora in:=/wide_stereo/left/image_rect_color raw out:=/wide_stereo_raw/left/image_rect_color" respawn="true"/>
    <node pkg="image_transport" name="right_cam_republish_wide" type="republish" args="theora in:=/wide_stereo/right/image_rect_color raw out:=/wide_stereo_raw/right/image_rect_color" respawn="true"/>
    <node name="laser_pointer_detector" pkg="laser_interface" type="laser_pointer_detector_node.py" 
                output="screen" 
                args="-c wide_stereo_raw -k wide_stereo -f $(find laser_interface)/PatchClassifier.dataset.pickle">
        <rosparam file="$(find laser_interface)/office.yaml"/>
        <rosparam file="$(find laser_interface)/detector.yaml"/>
    </node>
    <node name="$(anon dynam_load)" pkg="hrl_lib" type="load_dynamic_config" args="/wide_stereo_both $(find laser_interface)/office_exposure.yaml"/>
</launch>
