<launch>
    <arg name="have_ati" default="0" />

    <include file="$(find pr2_machine)/pr2.machine"/>
    <include file="$(find epc_door_opening)/launch/cart_controller.launch" />

    <node pkg="epc_door_opening" name="ati_ft_emulate"
        type="emulate_ati_ft.py" respawn="false" machine="c1"
        args="/force_torque_ft2_estimate"/>

    <node name="static_tf_ft2_estimate_broadcaster" pkg="tf"
        type="static_transform_publisher"
        args="0 0 0 0 0 0 /torso_lift_link ft2_estimate 50"
        respawn="false" machine="c1"/>

    <node name="kinematic_estimator" pkg="epc_door_opening"
        type="kinematics_estimator_least_squares.py" machine="c1">
    </node>

    <group unless="$(arg have_ati)">
        <node pkg="epc_door_opening" name="ati_ft"
            type="emulate_ati_ft.py" respawn="false" machine="c1"
            args="/force_torque_ft2"/>

        <node name="static_tf_ft2_broadcaster" pkg="tf"
            type="static_transform_publisher"
            args="0 0 0 0 0 0 /torso_lift_link ft2 50"
            respawn="false" machine="c1"/>
    </group>

    <group if="$(arg have_ati)">
    </group>

</launch>

