<launch>
  <!-- Launch both RFID reader and Robotis Servos -->
  <node name="robotis_ears_servos" pkg="rfid_hardware"
    	type="pr2_ears_server.py" output="screen" respawn="true" />

  <node name="stow_ears" pkg="rfid_hardware"
    	type="pr2_ears_stow.py" output="screen" respawn="false" />

  <!-- RFID-related -->
  <!-- Now handled by pr2_ears_server.py -->
  <!-- <node name="rfid_reader" pkg="hrl_rfid" type="ros_M5e.py" -->
  <!-- 	output="screen" respawn="true" args="-d ears" /> -->

  <!-- Right Static transforms -->

  <node name="static_tf_plate_right" pkg="tf" type="static_transform_publisher"
        args="0.055 -0.215 0.165 0.0 0.0 0.0 torso_lift_link plate_right_base 100"
        respawn="true" output="screen"/>

  <node name="static_tf_antenna_right" pkg="tf" type="static_transform_publisher"
        args="0.0250 0.0381 0.0 0.0 0.0 0.0 ear_tilt_right ear_antenna_right 100"
        respawn="true" output="screen"/>

  <!-- Left Static transforms -->

  <node name="static_tf_plate_left" pkg="tf" type="static_transform_publisher"
        args="0.055 +0.215 0.165 0.0 0.0 0.0 torso_lift_link plate_left_base 100"
        respawn="true" output="screen"/>

  <node name="static_tf_antenna_left" pkg="tf" type="static_transform_publisher"
        args="0.0250 -0.0381 0.0 0.0 0.0 0.0 ear_tilt_left ear_antenna_left 100"
        respawn="true" output="screen"/>

  <!-- Center of rotation static transforms (for RSSI imaging purposes) -->

  <node name="left_rotation_center" pkg="tf" type="static_transform_publisher"
        args="-0.0655 -0.0510 0.0675 0.0 0.0 0.0 plate_left_base left_rotation_center 100"
        respawn="true" output="screen"/>

  <node name="right_rotation_center" pkg="tf" type="static_transform_publisher"
        args="-0.0655 0.0510 0.0675 0.0 0.0 0.0 plate_right_base right_rotation_center 100"
        respawn="true" output="screen"/>

  <!-- Dynamic Transforms -->

  <node pkg="rfid_hardware" name="update_ear_transforms" 
	type="update_ear_transforms.py"	output="screen" respawn="true">
  </node>


</launch>

