<launch>
  <node pkg="tf" type="static_transform_publisher" name="kinect_base_link" args="0 -0.02 0 0 0 0  /kinect_head_camera /kinect_head_depth_frame 100" />  
  <node pkg="tf" type="static_transform_publisher" name="kinect_base_link1" args="0 -0.04 0 0 0 0  /kinect_head_camera /kinect_head_rgb_frame 100" />  
  <node pkg="tf" type="static_transform_publisher" name="kinect_base_link2" args="0 0 0 -1.57 0 -1.57 /kinect_head_depth_frame /kinect_head_depth_optical_frame  100" />  
  <node pkg="tf" type="static_transform_publisher" name="kinect_base_link3" args="0 0 0 -1.57 0 -1.57 /kinect_head_rgb_frame /kinect_head_rgb_optical_frame 100" />  
</launch>
