<launch>
  <node name="$(anon mapserver)" pkg="map_server" type="map_server" args="$(find gt_pr2)/navigation/maps/hsi_conf_room.yaml">
    <rosparam param="frame_id">odom_combined</rosparam>
  </node>

  <node pkg="costmap_services" name="costmap_services" type="costmap_services" respawn="false" output="screen">
    <rosparam file="$(find costmap_services)/launch/trial.yaml" command="load" />
  </node>
</launch>
