<launch>
  <param name="/use_sim_time" value="true" />
  <!-- <include file="$(find tabletop_pushing)/launch/kinect_segmenter.launch"/> -->
  <!-- <include file="$(find hrl_pr2_lib)/launch/openni_kinect_polled.launch"/> -->
  <!-- <include file="$(find tabletop_pushing)/launch/offline_reactive_move.launch"/> -->
  <node pkg="tabletop_pushing" type="tabletop_push_node.py" name="tabletop_push_node" output="screen">
    <param name="collision_aware_ik" type="int" value="0"/>
    <param name="use_slip_detection" type="int" value="0"/>
  </node>
</launch>
