<launch>
    <!-- <include file="$(find pr2_arm_navigation_actions)/launch/environment_server_left_arm.launch"/> -->
    <!-- <include file="$(find pr2_arm_navigation_actions)/launch/environment_server_right_arm.launch"/> -->
    <!-- <include file="$(find pr2_arm_navigation_kinematics)/launch/_arm_collision_free_ik.launch"/> -->
    <!-- <include file="$(find pr2_arm_navigation_kinematics)/launch/left_arm_collision_free_ik.launch"/> -->
    <!-- <include file="$(find pr2_arm_navigation_perception)/launch/laser-perception.launch"/> -->

    <include file="$(find pr2_arm_kinematics)/launch/pr2_ik_larm_node.launch"/>
    <include file="$(find pr2_arm_kinematics)/launch/pr2_ik_rarm_node.launch"/>
    <node pkg="hrl_pr2_lib" type="collision_monitor.py" name="collision_monitor_left" args="l"/>
    <node pkg="hrl_pr2_lib" type="collision_monitor.py" name="collision_monitor_right" args="r"/>
    <include file="$(find pr2_gripper_sensor_action)/launch/pr2_gripper_sensor_actions.launch"/>
</launch>
