<launch>
  <include file="$(find hrl_pr2_lib)/launch/openni_kinect_polled.launch"/>
  <node name="tabletop_pushing_perception" pkg="tabletop_pushing" type="tabletop_pushing_perception_node" respawn="false" output="screen">
    <remap from="color_image_topic" to="/kinect_head/rgb/image_color"/>
    <remap from="depth_image_topic" to="/kinect_head/depth/image"/>
    <remap from="point_cloud_topic" to="/kinect_head/depth/points"/>
    <remap from="camera_info_topic" to="/kinect_head/rgb/camera_info"/>

    <param name="crop_min_x" value="15" type="int"/>
    <param name="crop_max_x" value="600" type="int"/>
    <param name="crop_min_y" value="30" type="int"/>
    <param name="crop_max_y" value="470" type="int"/>

    <param name="display_wait_ms" value="3" type="int"/>
    <param name="autostart_tracking" value="true" type="bool"/>

    <param name="workspace_frame" value="/openni_rgb_optical_frame" type="string"/>
    <param name="min_workspace_x" value="-4.0" type="double"/>
    <param name="max_workspace_x" value="4.0" type="double"/>
    <param name="min_workspace_y" value="-2.0" type="double"/>
    <param name="max_workspace_y" value="2.0" type="double"/>
    <param name="min_workspace_z" value="-2.0" type="double"/>
    <param name="max_workspace_z" value="2.0" type="double"/>

    <param name="min_table_z" value="-1.25" type="double"/>
    <param name="max_table_z" value="1.0" type="double"/>

    <param name="num_hist_frames" value="5" type="int"/>
    <param name="T_in" value="1.5" type="double"/>
    <param name="T_out" value="8" type="double"/>
    <param name="min_contour_size" value="30" type="int"/>

    <param name="mgc_w_f" value="1.0" type="double"/>
    <param name="mgc_w_b" value="0.505" type="double"/>
    <param name="mgc_w_n_f" value="0.25" type="double"/>
    <param name="mgc_w_n_b" value="0.5" type="double"/>
    <param name="mgc_w_w_b" value="1.0" type="double"/>
    <param name="mgc_u_b" value="0.5" type="double"/>
    <param name="mgc_u_f" value="0.5" type="double"/>
    <param name="mgc_w_c_alpha" value="0.1" type="double"/>
    <param name="mgc_w_c_beta" value="0.05" type="double"/>
    <param name="mgc_w_c_gamma" value="0.15" type="double"/>
    <param name="mgc_eigen_ratio" value="5.0" type="double"/>
    <param name="mgc_magnitude_thresh" value="1.0" type="double"/>
    <param name="mgc_arm_grow_radius" value="2" type="int"/>
    <param name="mgc_arm_search_radius" value="50" type="int"/>

    <param name="lk_win_size" value="5" type="int"/>
    <param name="lk_num_levels" value="3" type="int"/>
    <param name="num_downsamples" value="1" type="int"/>

    <param name="arm_detection_theta" value="0.5" type="double"/>
    <!-- <param name="arm_detection_model_path" value="/home/thermans/" type="string"/> -->

  </node>
</launch>
