<launch>
  <include file="$(find pr2_machine)/$(env ROBOT).machine" />

  <include file="$(find pr2_navigation_teleop)/teleop.xml" />
  <include file="$(find pr2_navigation_perception)/lasers_and_filters.xml" />
  <include file="$(find pr2_navigation_perception)/ground_plane.xml" />


  <!-- Need to add some form of map (ie static mapserver or gmapping -->
     <!-- <node name="$(anon mapserver)" pkg="map_server" type="map_server"  -->
     <!-- 	   args="$(find rfid_nav)/launch/maps/hsi.yaml" /> -->
     <!-- <include file="$(find pr2_navigation_global)/amcl_node.xml" /> -->

     <!-- OR -->

     <!-- <include file="$(find rfid_nav)/launch/slam_gmapping.xml" /> -->



  <!-- Need some form of move_base (ie. sbpl or navfn) -->
     <!-- One of these works: -->
     <!-- <include file="$(find pr2_navigation_slam)/move_base.xml" /> -->
     <!-- <include file="$(find gt_pr2)/navigation/move_base.xml" /> -->
     <!-- <include file="$(find rfid_nav)/launch/move_base_sbpl.xml" /> -->

</launch>
