<launch>
    <node pkg="pixel_2_3d" type="pixel_2_3d" name="pixel_2_3d" output="screen" respawn="true">
        <remap from="image" to="/kinect_head/rgb/image_color"/>
        <remap from="point_cloud" to="/kinect_head/rgb/points"/>
        <remap from="l_mouse_click" to="/clickable_display/l_mouse_click"/>
        <param name="normal_radius" type="double" value="0.025" />
        <param name="output_frame" value="/base_link"/>
        <param name="use_closest_pixel" value="True"/>
    </node>
</launch>
