<launch>
    <include file="$(find hrl_pr2_lib)/launch/openni_kinect_polled.launch" />

  <node name="reconfig_kinect" pkg="dynamic_reconfigure" type="dynparam" args="load kinect_head $(find ar_manipulation)/data/kinect_params.yaml" />

    <node name="ar_kinect" pkg="ar_kinect" type="ar_kinect" respawn="false" output="screen">
	<param name="marker_pattern_list" type="string" value="$(find ar_manipulation)/data/objects_kinect"/>
	<param name="marker_data_directory" type="string" value="$(find ar_pose)"/>
	<param name="threshold" type="int" value="100"/>
    <remap from="/camera/rgb/points" to="/kinect_head/rgb/points"/>
    </node>
</launch>
