<launch>
	<arg name="robot_name" default="robot" />

	<group ns="$(arg robot_name)">

		<!-- Upload the URDF to robot_description -->
		<include file="$(find pioneer_arm_description)/launch/upload_base_with_arm.launch" />
	
		<!-- Start the robot state publisher for the wheels -->
		<node name="pioneer_arm_state_publisher" pkg="robot_state_publisher" type="state_publisher" output="screen" >
			<param name="publish_frequency" type="double" value="50.0"/>
			<param name="tf_prefix" type="string" value="$(arg robot_name)"/>
		</node>
	
		<!-- Start control GUI -->
		<include file="$(find pioneer_arm_launch)/launch/pioneer_arm_control_gui.launch" />

	</group>
	
	<!-- Spawn Gazebo Model -->
	<node name="spawn_robot" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model $(arg robot_name)" output="screen" />
	
</launch>
