<launch>
  <include file="$(find gt_pr2)/machine.launch"/>
  <include file="$(find pr2_omni_teleop)/c_jt_advait.launch" />
  <!--  <include file="$(find force_torque)/ft_instrumented.launch" />
        -->
  <include file="$(find hrl_pr2_lib)/test/test_sam_pipe.launch" />
  <node name="kinematic_estimator" pkg="equilibrium_point_control"
      type="kinematics_estimator_least_squares.py" machine="c1">
      <env name="PYTHONPATH" value="$(env PYTHONPATH)" />
  </node>
</launch>

