<?xml version="1.0" ?>
<robot name="robot3" 
	xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- The following included files set up definitions of parts of the robot body -->
	<include filename="$(find actuator_array_example)/urdf/example_arm.urdf.xacro" />

	<xacro:example_arm_urdf robot_description_parameter="robot_description" />

</robot>
