<launch>
    <!-- modes (uncomment the one you want) -->
    <arg name="mode" value="touch_only"/>-->
    <!--<arg name="mode" value="nav_only"/>-->
    <!--<arg name="mode" value="full_demo"/>-->

    <node pkg="hrl_arm_move_behaviors" name="sm_touch_face" type="sm_touch_face.py" output="screen"
          args="$(arg mode)">
        <param name="arm" type="str" value="r"/>
        <param name="tool_frame" type="str" value="r_scratcher_touch"/>
        <param name="tool_approach_frame" type="str" value="r_scratcher_approach"/>
        <param name="base_offset_frame" type="str" value="optimal_head_location"/>
        <param name="nav_approach_dist" type="double" value="1.0"/>
    </node>

</launch>
