<launch>
    <node pkg="force_torque" name="ft" type="force_torque_relay" args="--name=ft2" respawn="true"/>
    <node pkg="force_torque" name="ft_poller" type="force_torque_poller" args="--name=ft2 --path=/dev/ttyUSB0" respawn="true"/>

    <node name="static_tf_ft2_broadcaster" pkg="tf"
        type="static_transform_publisher"
        args="0 0 0 0 0 0.25881905 0.96592583 torso_lift_link ft2 50"
        respawn="false" output="screen"/>


</launch>
