<launch>
  <include file="$(find rfid_nav)/launch/pr2_2dnav_foundation.launch" />

  <!-- Need to add some form of map (ie static mapserver or gmapping -->
  <include file="$(find rfid_nav)/launch/slam_gmapping.xml" />



  <!-- Need some form of move_base (ie. sbpl or navfn) -->
     <!-- One of these works: -->
     <!-- <include file="$(find pr2_navigation_slam)/move_base.xml" /> -->
     <!-- <include file="$(find gt_pr2)/navigation/move_base.xml" /> -->
     <include file="$(find rfid_nav)/launch/move_base_navfn.xml" />

</launch>
