<launch>

	<!-- Start the Example Driver -->
    <node pkg="actuator_array_example" type="example2_driver" name="robot2_driver" output="screen" >
        <rosparam command="load" file="$(find actuator_array_example)/cfg/example2.yaml" />
        <param name="robot_description_parameter" type="string" value="" />
    </node>
	
	<!-- Start the manual control GUI -->
    <node pkg="actuator_array_gui" type="actuator_array_gui.py" name="robot2_gui" respawn="false" output="screen">
        <rosparam command="load" file="$(find actuator_array_example)/cfg/example2.yaml" />
        <param name="robot_description_parameter" type="string" value="" />
    </node>

</launch>
