<launch>
	<arg name="robot_name" default="ExampleRobot" />
	
	<group ns="$(arg robot_name)">
		
		<!-- Load Robot Description onto the Parameter Server -->
		<param name="robot_description" textfile="$(find actuator_array_example)/robots/example_arm.urdf" />
		
		<!-- Start the state publisher to convert joint_states into tf transformations -->
        <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" >
            <param name="tf_prefix" value="$(arg robot_name)" />
        </node>

		<!-- Start the manual control GUI -->
        <node pkg="actuator_array_gui" type="actuator_array_gui.py" name="robot_control_gui" respawn="false" output="screen">
            <param name="robot_description_parameter" type="string" value="robot_description" />
            <rosparam command="load" file="$(find actuator_array_example)/cfg/example1.yaml" />
        </node>

	</group>

	<!-- Start an empty world -->
	<include file="$(find gazebo_worlds)/launch/empty_world.launch" />

	<!-- Spawn Gazebo Model -->
	<node name="spawn_robot" pkg="gazebo" type="spawn_model" args="-urdf -param $(arg robot_name)/robot_description -model $(arg robot_name) -namespace $(arg robot_name)" output="screen" />
	
</launch>
