<launch>

	<group ns="robot3">
		
		<!-- Load Robot Description onto the Parameter Server -->
		<param name="robot_description" textfile="$(find actuator_array_example)/robots/example_arm.urdf" />
	
		<!-- Start the Example Driver -->
        <node pkg="actuator_array_example" type="example3_driver" name="robot3_driver" output="screen" >
            <rosparam command="load" file="$(find actuator_array_example)/cfg/example3.yaml" />
        </node>
		
		<!-- Start the manual control GUI -->
        <node pkg="actuator_array_gui" type="actuator_array_gui.py" name="robot3_gui" respawn="false" output="screen">
            <rosparam command="load" file="$(find actuator_array_example)/cfg/example3.yaml" />
        </node>
		
		<!-- Start the state publisher to convert joint_states into tf transformations -->
        <node pkg="robot_state_publisher" type="state_publisher" name="robot3_state" >
            <param name="tf_prefix" value="robot3" />
        </node>

	</group>
	
</launch>
