<launch>
 <!-- send additional description parameters -->
  <include file="$(find pr2_arm_navigation_config)/launch/pr2_planning_environment.launch" />

  <node pkg="planning_environment" type="environment_server" output="screen" name="environment_server_right_arm">      
    <remap from="collision_map" to="collision_map_occ" />
    <remap from="collision_map_update" to="collision_map_occ_update" />
    
    <param name="group" type="string" value="right_arm" />
    <param name="allow_valid_collisions" type="bool" value="false" />

    <param name="collision_map_safety_timeout" type="double" value="100000.0" />
    <param name="joint_states_safety_timeout" type="double" value="1.0" />
    <param name="bounding_planes" type="string" value="0 0 1 -0.01" />

    <param name="pointcloud_padd" type="double" value="0.00" />
    <param name="use_collision_map" type="bool" value="true" />

    <param name="contacts_to_compute_for_display" type="int" value="500" />

    <rosparam command="load" file="$(find arm_navigation_tutorials)/config/environment_server_padding.yaml" />		

  </node>
</launch>

