<launch>
    <!-- Network -->
    <include file="$(find gt_pr2)/machine.launch"/>

    <!-- Controls -->
    <node pkg="phantom_omni" name="omni1_node" type="omni" respawn="true">
        <param name="omni_name" value="omni1"/>
    </node>
    <!--
    -->
    <node pkg="omni_teleop" name="omni_teleop" type="omni_teleop.py" respawn="true" machine="c1"/>

    <!-- GUI -->
    <node pkg="pr2_dashboard" name="$(anon pr2_dashboard)" type="pr2_dashboard" respawn="true"/>
    <node pkg="rviz" name="$(anon rviz)" type="rviz"/>
    <include file="$(find stereo-anaglyph)/pr2_wide_stereo_view.launch"/>
</launch>
