<launch>
<!-- Confirm the offset distance!!! -->
    <arg name="scratcher_dist" value="0.110"/>
    <arg name="shaver_dist" value="0.100"/>

   <node pkg="tf" type="static_transform_publisher" name="r_scratcher_tip_frame_adl" args="$(arg scratcher_dist) 0 0 0 0 0 /r_gripper_tool_frame /r_scratcher_tip_adl 100" />

   <node pkg="tf" type="static_transform_publisher" name="l_scratcher_tip_frame_adl" args="$(arg scratcher_dist) 0 0 0 0 0 /l_gripper_tool_frame /l_scratcher_tip_adl 100" />

   <node pkg="tf" type="static_transform_publisher" name="r_shaver_tip_frame_adl" args="$(arg shaver_dist) 0 0 0 0 0 /r_gripper_tool_frame /r_shaver_tip_adl 100" />

   <node pkg="tf" type="static_transform_publisher" name="l_shaver_tip_frame_adl" args="$(arg shaver_dist) 0 0 0 0 0 /l_gripper_tool_frame /l_shaver_tip_adl 100" />

</launch>
