<launch>
    <node pkg="image_transport" name="left_cam_republish_narrow"  type="republish" args="theora in:=/narrow_stereo/left/image_rect_color raw out:=/narrow_stereo_raw/left/image_rect_color" respawn="true"/>
    <node pkg="image_transport" name="right_cam_republish_narrow" type="republish" args="theora in:=/narrow_stereo/right/image_rect_color raw out:=/narrow_stereo_raw/right/image_rect_color" respawn="true"/>
    <node pkg="stereo_anaglyph" name="anaglyph_view_narrow" type="red_cyan_anaglyph.py" args="-c /narrow_stereo_raw -d 20" output="screen"/>
</launch>
