<launch>
    <!-- Network -->
    <include file="$(find gt_pr2)/machine.launch"/>

    <!-- Navigation-->
    <include file="$(find gt_pr2)/hsi_2dnav.launch"/>

    <!-- Laser Assemblers -->
    <include file="$(find pr2_omni_teleop)/laser_scan.launch"/>

    <!-- Enable Intensity -->
    <node name="$(anon dynam_load)" pkg="hrl_lib" type="load_dynamic_config" args="/tilt_hokuyo_node $(find pr2_omni_teleop)/tilt_hokuyo_intensity.yaml"/>

    <!-- Prosilica settings -->
    <include file="$(find pr2_omni_teleop)/prosilica_image_proc.launch"/>
    <node name="$(anon dynam_load)" pkg="hrl_lib" type="load_dynamic_config" args="/prosilica_driver $(find pr2_omni_teleop)/prosilica_teleop_settings.yaml"/>

    <!-- Arm kinematics -->
    <include file="$(find hai_sandbox)/launch/cart_params.launch"/>
    <include file="$(find pr2_arm_kinematics)/launch/pr2_ik_rarm_node.launch"/>
    <include file="$(find pr2_arm_kinematics)/launch/pr2_ik_larm_node.launch"/>
</launch>
