<!--
Launch this on mecanum2 to start jostick and segway nodes.
-->
<launch>
    <node name="mecanum_joy" pkg="segway_omni" type="mecanum_joy.py" output="screen" args="-z" respawn="true">
        <remap from="base" to="/hrl/segway/command"/>
    </node>
    <node name="segway_node" pkg="segway_omni" type="segway_node.py" output="screen" respawn="true">
        <remap from="base" to="/hrl/segway/command"/>
    </node>
</launch>

